<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name=" Test Shop Apotheke">
	<listeners>
		<listener class-name="com.qa.ExtentReport.ExtentReporterNG" />
	</listeners>

	<test name="Shop Apotheke Task assignment">
		<classes>
			<class name="com.qa.testcases."></class>
		</classes>
	</test>
</suite>